.menu {
    padding: 1rem;
    background-color: rgb(18, 16, 41);
    margin: 1px auto;
    width: 70rem;

    display: flex;

    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }

  .menu button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }

  .menu button:hover,
  .menu button:active {
    background-color: #510674;
    border-color: #510674;
  }
  
  .menu button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .menu button.alternative:hover,
  .menu button.alternative:active {
    background-color: #ddb3f8;
  }