  .actions {
    float: right;
    margin: 8px auto;
  }

  .actions button {
    font: inherit;
    cursor: pointer;
    padding: 8px 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
  }

  .actions button:hover,
  .actions button:active {
    background-color: #510674;
    border-color: #510674;
  }
  
  .actions button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
  }
  
  .actions button.alternative:hover,
  .actions button.alternative:active {
    background-color: #ddb3f8;
  }